# Modifying the `ci9b00375_si_003.txt` file

In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.dirname(os.getcwd()) + '/data/datasets/ci9b00375_si_003.txt',
                 sep=' ',
                 dtype=str,
                 skiprows=47,
                 on_bad_lines='warn', 
                 skip_blank_lines=True,
                 skipinitialspace = True)

In [3]:
print('{} -+- {}'.format(df.shape, df.columns))

(552221, 1) -+- Index(['CompoundID,SMILES'], dtype='object')

In [4]:
df['CompoundID,SMILES'].str.strip()

0         CHEMBL35001,COC(=O)Nc1ccc(Cl)c(‐c2nc3cc(C)ccc3...
1         CHEMBL35211,COC(=O)Nc1ccc(OC)c(‐c2nc3cc(C)ccc3...
2         CHEMBL35333,COC(=O)Nc1ccc(Cl)c(‐c2nc3ccc(C)cc3...
3         CHEMBL35967,C#CCNC(=O)Nc1ccc(Cl)c(‐c2nc3cc(Cl)...
4          CHEMBL35458,COC(=O)Nc1ccc(Cl)c(‐c2nc3ccccc3o2)c1
                                ...
552216    CHEMBL2449545,Cc1ccc(C(=O)N2c3ccccc3C(N3CCCC3)...
552217    CHEMBL2449546,Cc1ccc(C(=O)OC2C(C)Nc3ccccc3C2N2...
552218    CHEMBL2449547,CCN(CC)CCCC(C)NC1c2ccccc2N(C(=O)...
552219    CHEMBL2449548,CCN(CC)CCCC(C)NC1c2ccccc2NC(C)C1...
552220                                           Page 11045
Name: CompoundID,SMILES, Length: 552221, dtype: object

In [5]:
df.head()

                                   CompoundID,SMILES
0  CHEMBL35001,COC(=O)Nc1ccc(Cl)c(‐c2nc3cc(C)ccc3...
1  CHEMBL35211,COC(=O)Nc1ccc(OC)c(‐c2nc3cc(C)ccc3...
2  CHEMBL35333,COC(=O)Nc1ccc(Cl)c(‐c2nc3ccc(C)cc3...
3  CHEMBL35967,C#CCNC(=O)Nc1ccc(Cl)c(‐c2nc3cc(Cl)...
4   CHEMBL35458,COC(=O)Nc1ccc(Cl)c(‐c2nc3ccccc3o2)c1

In [6]:
df[df['CompoundID,SMILES'].astype(str).str.contains('CHEMBL2323521') == True]

                                        CompoundID,SMILES
546367  CHEMBL2323521,COc1ccc2c(c1)c(C)c(CCC(=O)NS(=O)...

In [7]:
print(df['CompoundID,SMILES'][1596])
print(df['CompoundID,SMILES'][1597])
print(df['CompoundID,SMILES'][1598])
print(df['CompoundID,SMILES'][1599])

CHEMBL137900,CC(C)(C)OC(=O)Nc1ccc2c(c1)CC(C(=O)C(=O)O)N(S(=O)(=O)c1ccc(‐c3ccc(F)cc3
Page 32
Supplemental Table S3.csv.txt
)cc1)C2

In [8]:
df.describe()

                    CompoundID,SMILES
count                          552221
unique                         521264
top     Supplemental Table S3.csv.txt
freq                            11044

In [9]:
df[df['CompoundID,SMILES'].astype(str).str.contains('CHEM') == True].describe()

                                        CompoundID,SMILES
count                                              496946
unique                                             496946
top     CHEMBL35001,COC(=O)Nc1ccc(Cl)c(‐c2nc3cc(C)ccc3...
freq                                                    1

## 1. Removing rows containing 'Pa'

In [10]:
df[df['CompoundID,SMILES'].astype(str).str.contains('Page') == True]

       CompoundID,SMILES
47                Page 1
97                Page 2
147               Page 3
197               Page 4
247               Page 5
...                  ...
552047        Page 11041
552097        Page 11042
552147        Page 11043
552197        Page 11044
552220        Page 11045

[11045 rows x 1 columns]

In [11]:
df = df[df['CompoundID,SMILES'].str.contains('Page') == False]

In [12]:
print('{} -+- {}'.format(df.shape, df.columns))

(541176, 1) -+- Index(['CompoundID,SMILES'], dtype='object')

In [13]:
df[df['CompoundID,SMILES'].astype(str).str.contains('Page') == True]

Empty DataFrame
Columns: [CompoundID,SMILES]
Index: []

In [14]:
print(df['CompoundID,SMILES'][1596])
# print(df['CompoundID,SMILES'][1597])
print(df['CompoundID,SMILES'][1598])
print(df['CompoundID,SMILES'][1599])

CHEMBL137900,CC(C)(C)OC(=O)Nc1ccc2c(c1)CC(C(=O)C(=O)O)N(S(=O)(=O)c1ccc(‐c3ccc(F)cc3
Supplemental Table S3.csv.txt
)cc1)C2

## 2. Removing rows containing 'Sup'

In [15]:
df[df['CompoundID,SMILES'].astype(str).str.contains('Sup') == True]

                    CompoundID,SMILES
48      Supplemental Table S3.csv.txt
98      Supplemental Table S3.csv.txt
148     Supplemental Table S3.csv.txt
198     Supplemental Table S3.csv.txt
248     Supplemental Table S3.csv.txt
...                               ...
551998  Supplemental Table S3.csv.txt
552048  Supplemental Table S3.csv.txt
552098  Supplemental Table S3.csv.txt
552148  Supplemental Table S3.csv.txt
552198  Supplemental Table S3.csv.txt

[11044 rows x 1 columns]

In [16]:
df = df[df['CompoundID,SMILES'].astype(str).str.contains('Sup') == False]

In [17]:
print('{} -+- {}'.format(df.shape, df.columns))

(530132, 1) -+- Index(['CompoundID,SMILES'], dtype='object')

In [18]:
df[df['CompoundID,SMILES'].astype(str).str.contains('Sup') == True]

Empty DataFrame
Columns: [CompoundID,SMILES]
Index: []

In [19]:
print(df['CompoundID,SMILES'][1596])
# print(df['CompoundID,SMILES'][1597])
# print(df['CompoundID,SMILES'][1598])
print(df['CompoundID,SMILES'][1599])

CHEMBL137900,CC(C)(C)OC(=O)Nc1ccc2c(c1)CC(C(=O)C(=O)O)N(S(=O)(=O)c1ccc(‐c3ccc(F)cc3
)cc1)C2

In [20]:
temp = []
for row in df.itertuples():
    try:
        temp.append(row[1])
    except KeyError:
        temp.append(['empty'])
df = pd.DataFrame(temp, columns=['CompoundID,SMILES'])

In [21]:
print(df['CompoundID,SMILES'][1596])
print(df['CompoundID,SMILES'][1597])
print(df['CompoundID,SMILES'][1598])
print(df['CompoundID,SMILES'][1599])

CHEMBL251481,CC(NC(CCc1ccccc1)C(=O)NC(CCCNC(=N)N)C(=O)Nc1ccccc1)C(=O)O
CHEMBL418335,CC(C)CC(NC(=O)C(CCc1ccc(‐c2ccccc2)cc1)CC(C)C(=O)O)C(=O)Nc1ccccc1
CHEMBL267503,CCCCC(CC(CCc1ccc(‐c2ccccc2S(=O)(=O)NC(C)(C)C)cc1)C(=O)NC(C(=O)NC)C(C)(
C)C)C(=O)O

## 3. Appending Rows which don't start with `Chem`

In [22]:
df[df['CompoundID,SMILES'].astype(str).str.contains('emp') == True]

Empty DataFrame
Columns: [CompoundID,SMILES]
Index: []

In [23]:
df.head()

                                   CompoundID,SMILES
0  CHEMBL35001,COC(=O)Nc1ccc(Cl)c(‐c2nc3cc(C)ccc3...
1  CHEMBL35211,COC(=O)Nc1ccc(OC)c(‐c2nc3cc(C)ccc3...
2  CHEMBL35333,COC(=O)Nc1ccc(Cl)c(‐c2nc3ccc(C)cc3...
3  CHEMBL35967,C#CCNC(=O)Nc1ccc(Cl)c(‐c2nc3cc(Cl)...
4   CHEMBL35458,COC(=O)Nc1ccc(Cl)c(‐c2nc3ccccc3o2)c1

In [24]:
for index in df.index:
    rows_back = 0
    while df['CompoundID,SMILES'][index].startswith('CHEM')!=True:
        rows_back += 1
        df['CompoundID,SMILES'][index - rows_back] += df['CompoundID,SMILES'][index]
        index+=1

In [25]:
print('{} -+- {}'.format(df.shape, df.columns))

(530132, 1) -+- Index(['CompoundID,SMILES'], dtype='object')

In [26]:
df[df['CompoundID,SMILES'].astype(str).str.contains('CHEM') == True].describe()

                                        CompoundID,SMILES
count                                              496946
unique                                             496946
top     CHEMBL35001,COC(=O)Nc1ccc(Cl)c(‐c2nc3cc(C)ccc3...
freq                                                    1

## 4. Finalising the Dataset

In [27]:
df['CompoundID,SMILES'] = df['CompoundID,SMILES'].str.replace('\u2010', '-', regex=False)

In [28]:
final_df = []
for row in df.itertuples():
    if row[1].startswith('CHEM'):
        final_df.append(row[1])
final_df = pd.DataFrame(final_df, columns=['CompoundID,SMILES'])

In [29]:
final_df[final_df['CompoundID,SMILES'].astype(str).str.startswith('CHEM') == False]

Empty DataFrame
Columns: [CompoundID,SMILES]
Index: []

In [30]:
save_path = os.path.dirname(os.getcwd()) + '/data/datasets/ci9b00375_si_003_modified.txt'

In [31]:
final_df[['CompoundID','SMILES']] = final_df['CompoundID,SMILES'].str.split(',', n=1, expand=True)
final_df.to_csv(save_path,columns=['CompoundID','SMILES'], index=False, doublequote=False)

## 5. Testing if all molecules have been successfully represented

In [32]:
from rdkit import Chem
from rdkit.Chem import RDKFingerprint
from rdkit.Chem import rdMolDescriptors as rdmd

In [33]:
final_df = pd.read_csv(save_path,delimiter=',')

In [34]:
for row in final_df.itertuples():
    mol = Chem.MolFromSmiles(row.SMILES)
    if mol is None:
        print('{} row molecule is fxxcked'.format(row.CompoundID))